<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinPC.Engine.Properties.Engine" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WinPC.Engine.Properties.Engine>
            <setting name="WorldFile" serializeAs="String">
                <value>C:\Temp\Test\World.xml</value>
            </setting>
            <setting name="DefaultGame" serializeAs="String">
                <value>WinPC.Engine.Core.Game</value>
            </setting>
        </WinPC.Engine.Properties.Engine>
    </applicationSettings>
</configuration>