<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MudDesigner.Engine.Properties.Engine" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="WinPC.Engine.Properties.Engine" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MudDesigner.Engine.Properties.Engine>
            <setting name="WorldFile" serializeAs="String">
                <value>World.sav</value>
            </setting>
            <setting name="DefaultGameType" serializeAs="String">
                <value>MudDesigner.Engine.Core.Game</value>
            </setting>
            <setting name="DefaultWorldType" serializeAs="String">
                <value>MudDesigner.Engine.Environment.World</value>
            </setting>
            <setting name="DefaultPlayerType" serializeAs="String">
                <value>MudDesigner.Engine.Core.Game</value>
            </setting>
            <setting name="LoginSuccessState" serializeAs="String">
                <value>MudDesigner.Scripts.MainMenuState</value>
            </setting>
            <setting name="ScriptLibrary" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>MudDesigner.Scripts.dll</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ScriptsPath" serializeAs="String">
                <value>Scripts</value>
            </setting>
        </MudDesigner.Engine.Properties.Engine>
        <WinPC.Engine.Properties.Engine>
            <setting name="WorldFile" serializeAs="String">
                <value>World.sav</value>
            </setting>
            <setting name="DefaultGame" serializeAs="String">
                <value>WinPC.Engine.Core.Game</value>
            </setting>
        </WinPC.Engine.Properties.Engine>
    </applicationSettings>
</configuration>