<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mud.Engine" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Mud.Engin" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mud.Engine>
            <setting name="ExternalLibraries" serializeAs="Xml">
                <value>
                    <ArrayOfstring xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Mud.Data.FileSystem.dll</string>
                    </ArrayOfstring>
                </value>
            </setting>
            <setting name="Player" serializeAs="string">
                <value>Mud.Models.Characters.Player</value>
            </setting>
            <setting name="Scripts" serializeAs="string">
                <value>Scripts</value>
            </setting>
            <setting name="ScriptExtension" serializeAs="string">
                <value>.cs</value>
            </setting>
            <setting name="Version" serializeAs="string">
                <value>Alpha 3</value>
            </setting>
        </Mud.Engine>
        <Mud.Engin>
            <setting name="ExternalLibraries" serializeAs="Xml">
                <value>
                    <ArrayOfstring xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Mud.Data.FileSystem.dll</string>
                    </ArrayOfstring>
                </value>
            </setting>
        </Mud.Engin>
    </userSettings>
</configuration>