<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MudEngine.Engine.GameProperties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MudEngine.Engine.ServerProperties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MudEngine.Engine.Server" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MudEngine.Engine.Game" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Engine.Game" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MudEngine.Engine.GameProperties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="MudEngine.Engine.Game" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Engine.Game" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MudEngine.Engine.GameProperties>
            <setting name="HideRoomNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAutoSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSaveFrequency" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Multiplayer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>Sample Game</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1.0.0.0</value>
            </setting>
        </MudEngine.Engine.GameProperties>
        <MudEngine.Engine.ServerProperties>
            <setting name="MaxConnections" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="MinimumPasswordSize" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="MaximumPasswordSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="MaxQueuedConnections" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Owner" serializeAs="String">
                <value>Scionwest</value>
            </setting>
        </MudEngine.Engine.ServerProperties>
        <MudEngine.Engine.Server>
            <setting name="MaxConnections" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="MinimumPasswordSize" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="MaximumPasswordSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="ServerOwner" serializeAs="String">
                <value>Scionwest</value>
            </setting>
        </MudEngine.Engine.Server>
        <MudEngine.Engine.Game>
            <setting name="HideRoomNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAutoSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSaveFrequency" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Multiplayer" serializeAs="String">
                <value>True</value>
            </setting>
        </MudEngine.Engine.Game>
        <Engine.Game>
            <setting name="HideRoomNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAutoSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSaveFrequency" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Multiplayer" serializeAs="String">
                <value>True</value>
            </setting>
        </Engine.Game>
    </userSettings>
    <applicationSettings>
        <MudEngine.Engine.GameProperties>
            <setting name="LastSaved" serializeAs="String">
                <value />
            </setting>
        </MudEngine.Engine.GameProperties>
        <MudEngine.Engine.Game>
            <setting name="LastSaved" serializeAs="String">
                <value />
            </setting>
        </MudEngine.Engine.Game>
        <Engine.Game>
            <setting name="LastSaved" serializeAs="String">
                <value />
            </setting>
        </Engine.Game>
    </applicationSettings>
</configuration>