<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MudDesigner.Engine.Properties.Engine" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="WinPC.Engine.Properties.Engine" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MudDesigner.Engine.Properties.EngineSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MudDesigner.Engine.Properties.Engine" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MudDesigner.Engine.Properties.Engine>
            <setting name="WorldFile" serializeAs="String">
                <value>Game.sav</value>
            </setting>
            <setting name="DefaultGameType" serializeAs="String">
                <value>MudDesigner.Scripts.Game.Game</value>
            </setting>
            <setting name="DefaultWorldType" serializeAs="String">
                <value>MudDesigner.Scripts.Environment.World</value>
            </setting>
            <setting name="DefaultPlayerType" serializeAs="String">
                <value>MudDesigner.Scripts.Game.Player</value>
            </setting>
            <setting name="LoginSuccessState" serializeAs="String">
                <value>MudDesigner.Scripts.States.MainMenuState</value>
            </setting>
            <setting name="ScriptLibrary" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>MudDesigner.Scripts.dll</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ScriptsPath" serializeAs="String">
                <value>Scripts</value>
            </setting>
            <setting name="DoorType" serializeAs="String">
                <value>MudDesigner.Scripts.Environment.Door</value>
            </setting>
            <setting name="RealmType" serializeAs="String">
                <value>MudDesigner.Scripts.Environment.Realm</value>
            </setting>
            <setting name="ZoneType" serializeAs="String">
                <value>MudDesigner.Scripts.Environment.Zone</value>
            </setting>
            <setting name="RoomType" serializeAs="String">
                <value>MudDesigner.Scripts.Environment.Room</value>
            </setting>
            <setting name="WorldFile" serializeAs="String">
                <value>World.sav</value>
            </setting>
        </MudDesigner.Engine.Properties.Engine>
        <WinPC.Engine.Properties.Engine>
            <setting name="WorldFile" serializeAs="String">
                <value>World.sav</value>
            </setting>
            <setting name="DefaultGame" serializeAs="String">
                <value>WinPC.Engine.Core.Game</value>
            </setting>
        </WinPC.Engine.Properties.Engine>
    </applicationSettings>
    <userSettings>
        <MudDesigner.Engine.Properties.EngineSettings>
            <setting name="DefaultGameType" serializeAs="String">
                <value>MudDesigner.Scripts.Game.Game</value>
            </setting>
            <setting name="DefaultWorldType" serializeAs="String">
                <value>MudDesigner.Scripts.Environment.World</value>
            </setting>
            <setting name="DefaultPlayerType" serializeAs="String">
                <value>MudDesigner.Scripts.Mobs.Player</value>
            </setting>
            <setting name="LoginSuccessState" serializeAs="String">
                <value>MudDesigner.Scripts.States.MainMenuState</value>
            </setting>
            <setting name="ScriptLibrary" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>MudDesigner.Scripts.dll</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ScriptsPath" serializeAs="String">
                <value>Scripts</value>
            </setting>
            <setting name="LoginRoom" serializeAs="String">
                <value>Bedroom</value>
            </setting>
            <setting name="DoorType" serializeAs="String">
                <value>MudDesigner.Scripts.Environment.Door</value>
            </setting>
            <setting name="RealmType" serializeAs="String">
                <value>MudDesigner.Scripts.Environment.Realm</value>
            </setting>
            <setting name="ZoneType" serializeAs="String">
                <value>MudDesigner.Scripts.Environment.Zone</value>
            </setting>
            <setting name="RoomType" serializeAs="String">
                <value>MudDesigner.Scripts.Environment.Room</value>
            </setting>
            <setting name="WorldFile" serializeAs="String">
                <value>World.sav</value>
            </setting>
            <setting name="InitialState" serializeAs="String">
                <value>MudDesigner.Engine.States.ConnectState</value>
            </setting>
        </MudDesigner.Engine.Properties.EngineSettings>
        <MudDesigner.Engine.Properties.Engine>
            <setting name="LoginRoom" serializeAs="String">
                <value>Bedroom</value>
            </setting>
        </MudDesigner.Engine.Properties.Engine>
    </userSettings>
</configuration>